name: Build and test

on:
  pull_request:
    branches: [ main ]

jobs:
  gogitops:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: GoGitOps Step
      id: gogitops
      uses: beaujr/gogitops-action@v0.2
      with:
        github-actions-token: ${{secrets.GITHUB_TOKEN}}
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.17

    - name: Get
      run: go get -v ./...

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
  test-deploy-argocd:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        argocd_version:
          - "2.4.10"
          - "2.3.7"
      fail-fast: true
    steps:
      - uses: actions/checkout@v3
      - uses: AbsaOSS/k3d-action@v2
        name: "Create single k3d Cluster and run Argocd/Lovely"
        with:
          cluster-name: test-cluster-1
          args: >-
            --agents 3
            --no-lb
            --k3s-arg "--no-deploy=traefik,servicelb,metrics-server@server:*"
      - name: "Deploy Argocd/Lovely"
        run: |
          docker build . -t argocd-lovely-plugin/testing:latest
          k3d image import argocd-lovely-plugin/testing:latest -c test-cluster-1 --verbose
          kubectl apply -k .github/workflows/assets/bootstrap/argocd-${{ matrix.argocd_version }}
          kubectl -n argocd rollout status statefulset/argocd-application-controller
          kubectl -n argocd rollout status deployment/argocd-repo-server
          kubectl -n argocd apply -f .github/workflows/assets/applications/helm_only_in_kustomize.yml
          kubectl -n argocd apply -f .github/workflows/assets/applications/helm_plus_additions.yml
      - name: "Test helmonlyinkustomize"
        run: |
          kubectl config use-context k3d-test-cluster-1
          sleep 10
          kubectl -n helmonlyinkustomize rollout status deployment/test-hello-world
          kubectl -n helmonlyinkustomize describe pod -l=app.kubernetes.io/name=hello-world
          kubectl -n helmonlyinkustomize logs -l=app.kubernetes.io/name=hello-world
      - name: "Test helmplusadditions"
        run: |
          kubectl config use-context k3d-test-cluster-1
          kubectl -n helmplusadditions rollout status deployment/helmplusadditions-hello-world
          kubectl -n helmplusadditions describe pod -l=app.kubernetes.io/name=hello-world
          kubectl -n helmplusadditions logs -l=app.kubernetes.io/name=hello-world
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: false
          platforms: linux/amd64, linux/arm64
          tags: ghcr.io/crumbhole/argocd-lovely-plugin:pull
