# .github/workflows/release.yaml
name: Release

on:
  release:
    types: [created]
  workflow_dispatch: {}

env:
  PLATFORMS: linux/amd64, linux/arm64

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, windows/386, windows/amd64, darwin/386, darwin/amd64
        goos: [linux, darwin]
    steps:
    - uses: actions/checkout@v3
    - uses: wangyoucao577/go-release-action@v1.34
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: amd64
        goversion: "https://golang.org/dl/go1.19.3.linux-amd64.tar.gz"
        binary_name: "argocd-lovely-plugin"
        extra_files: LICENSE README.md
        pre_command: go get ./...
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Get git tag
        uses: little-core-labs/get-git-tag@v3.0.2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Build and Push legacy image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms:
          tags: |
            ghcr.io/crumbhole/argocd-lovely-plugin-cmp:${{ env.GIT_TAG_NAME }}
          build-args: VERSION=${{ env.GIT_TAG_NAME }}
      - name: Build CMP image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile.legacy
          push: true
          platforms: ${{ env.PLATFORMS }}
          tags: ghcr.io/crumbhole/argocd-lovely-plugin:${{ env.GIT_TAG_NAME }}
          tags: ghcr.io/crumbhole/argocd-lovely-plugin:stable
          build-args: VERSION=${{ env.GIT_TAG_NAME }}
      - name: Build CMP image with vault
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile.cmp-vault
          push: true
          platforms: ${{ env.PLATFORMS }}
          tags: ghcr.io/crumbhole/argocd-lovely-plugin-cmp-vault:${{ env.GIT_TAG_NAME }}
          build-args: VERSION=${{ env.GIT_TAG_NAME }}
